<a href="https://colab.research.google.com/github/howonleee/new-project/blob/main/untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=1
b=2

In [ ]:
a+b

4

In [ ]:
a=2
if a>1:
  print("a is greater tha n 1")

a is greater tha n 1

In [ ]:
for a in {1,2,3}:
  print(a)

1
2
3

In [ ]:
i = 0
while i <3:
  i=i+1
  print(i)

1
2
3

In [ ]:
def add(a,b):
  return a+b

In [ ]:
add(3,4)

7

In [ ]:
money = False
if money:
  print("택시 타")
else:
  print("걸어가")

걸어가

In [ ]:
pocket = ["paper", "cellphone", "money"]
if "money" in pocket :
  print("택시 타")
else:
  print("걸어 가")

택시 타

In [ ]:
test_list = ["1", "2", "3"]
for i in test_list:
  print(i)

1
2
3

In [ ]:
marks = [90,25,67,45,80]

number=0
for mark in marks:
  number = number+1
  if mark >=60:
    print("%a번 학생은 합격입니다."%number)
  else:
    print("%a번 학생은 불합격입니다."%number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
add = 0
for i in range(1,11):
  add = add + i
  print(add)

1
3
6
10
15
21
28
36
45
55

In [ ]:
sum = 0
m = [70,60,55,75,95,90,80,80,85,100]
for ms in m:
  all = sum(ms):
  print(all)

SyntaxError: ignored

In [ ]:
def add(a,b):
  return a+b
  a=4
  b=7
print(a)

70

In [ ]:
def is_odd(x):
  if x%2 == 1 :
    print("홀수")
  else:
    print("짝수")
is_odd(5)

홀수